# Enable Internet connection sharing
IPTABLES=${IPTABLES:-{{ iptables__cmd }}}
echo "1" > /proc/sys/net/ipv4/ip_forward
$IPTABLES -I INPUT -i {{ ifupdown_external_interface }} -m state --state ESTABLISHED,RELATED -j ACCEPT
$IPTABLES -t nat -N masq
$IPTABLES -t nat -A masq -j MASQUERADE
$IPTABLES -t nat -A POSTROUTING -o {{ ifupdown_external_interface }} -j masq
