#!/bin/sh
rsync -rltH -yz -q --delete-delay --delay-updates --partial \
    --partial-dir=.rsync-partial -f 'R .rsync-partial/' \
    rsync://{{ item.remote_host }}/{{ item.remote_dir }}/ \
    {{ item.local_dir }}

chown -R {{ item.owner }}:{{ item.group }} {{ item.local_dir }}
chmod -R {{ item.permissions }} {{ item.local_dir }}
