#!/bin/sh
logger -t provision_datasync 'Beginning rsync of {{ item.name }}'

date >> {{ item.local_dir }}/sync_in_progress

rsync -rltH -yz -q --delete-delay --delay-updates --partial \
    --partial-dir=.rsync-partial -f 'R .rsync-partial/' \
    {{ item.remote_host }}::{{ item.remote_dir }} \
    {{ item.local_dir }}

chown -R \
{{ item.owner|default(datasync_rsync__dir_defaults.owner) }}:\
{{ item.group|default(datasync_rsync__dir_defaults.group) }} \
{{ item.local_dir }}

chmod -R \
{{ item.permissions|default(datasync_rsync__dir_defaults.permissions) }} \
{{ item.local_dir }}

rm -f {{ item.local_dir }}/sync_in_progress

logger -t provision_datasync 'Completed rsync of {{ item.name }}'

# TODO: Either move all this stuff to a portal modules role, or
# Just move the module-specific stuff that follows, (while still making it 
# not run until after the syncs are finished.
logger -t provision_datasync 'Beginning indexing of {{ item.name }}'
cd {{provision__data_dir}}/rsphider/admin
php spider.php -r -u http://{{provision__fqdn}}/modules/$(basename {{item.local_dir}})
logger -t provision_datasync 'Completed indexing of {{ item.name }}'
