\#*\#
.vagrant
*.iso
*.swp
*~
*.pyc
playbooks/roles/kalite/data/*
data/provisioning.txt
data/packages/*
!data/packages/README.md
/.idea
force_groups
provisioning.txt
playbooks/localconfig.yml
playbooks/roles.yml
ext/*
