\#*\#
.vagrant
*.iso
*.swp
*~
*.pyc
playbooks/roles/kalite/data/*
data/provisioning.txt
data/packages/*
!data/packages/README.md
/.idea
force_groups
provisioning.txt
ansible.log
localconfig.yml
playbooks/ansible.log
playbooks/custom*
playbooks/*test.yml
playbooks/roles.yml
playbooks/default.yml
ext/*
playbooks/dynamic.yml
vm_data
modules
