---
# If you know what you are doing, you can customize which roles are deployed 
# by creating a copy of this file called `localconfig.yml` and selecting
# your own groups below. 
# 
# Each file in `playbooks/group_vars` represents an available group.
# Separate multiple groups with commas.
groups: [ default ] 

# You can also fine-tune settings here. You can get a list of
# available settings and their default values by running:
#
#     cat playbooks/roles/*/defaults/main.yml
#
# ...but don't forget that these values may also be overridden for
# your group(s), as described in the playbooks/group_vars/ files. 
#
# Overides defined here take precedence over values specified anywhere
# else.
#
vars:
  var1: "val1"
  var2: "val2"
  var3: "val3"
