.auth {
    border-left: medium solid darkred;
    padding-left: 20px;
    border-right: medium solid darkred;
    padding-right: 20px;
}
.auth p {
    font-style: italic;
}
.auth input {
    color: black;
}
.auth .notification {
    font-size: 90%;
    font-style: italic;
}
