## 
## From http://www.andybev.com/index.php/Using_iptables_and_PHP_to_create_a_captive_portal
## 

# Create {{ portal__capture_chain }} chain
# This is used to authenticate users who have already signed up
$IPTABLES -N {{ portal__capture_chain }} -t mangle

# First send all traffic via newly created {{ portal__capture_chain }} chain
# At the prerouting NAT stage this will DNAT them to the local
# webserver for them to signup if they aren't authorised
# Packets for unauthorised users are marked for dropping later
$IPTABLES -t mangle -A PREROUTING -i {{ provision__internal_interface.device }} -j {{ portal__capture_chain }}

###### INTERNET CHAIN ##########
# Allow authorised clients in, redirect all others to login webserver
# Add known users to the NAT table to stop their dest being rewritten
# Ignore MAC address with a * - these users are blocked
# This awk script goes through the {{ portal__users }} flat file line by line
awk 'BEGIN { FS="\t"; } { system("$IPTABLES -t mangle -A {{ portal__capture_chain }} -m mac --mac-source "$4" -j RETURN"); }' {{ portal__users }}

# MAC address not found. Mark the packet 99
#$IPTABLES -t mangle -A {{ portal__capture_chain }} -j LOG --log-prefix "SET MARK "
$IPTABLES -t mangle -A {{ portal__capture_chain }} -j MARK --set-mark 99
################################

# Redirects web requests from Unauthorised users to logon Web Page
$IPTABLES -t nat -A PREROUTING -i {{ provision__internal_interface.device }} -m mark --mark 99 -j DNAT --to-destination {{ portal__redirect.ipv4.address }}

# Allow localhost
$IPTABLES -t filter -I INPUT -i lo -j ACCEPT

# Now that we've got to the forward filter, drop all packets
# marked 99 - these are unknown users. We can't drop them earlier
# as there's no filter table
$IPTABLES -t filter -A FORWARD -i {{ provision__internal_interface.device }} -m mark --mark 99 -j DROP

# Do the same for the INPUT chain to stop people accessing the web through Squid
$IPTABLES -t filter -A INPUT -p tcp --dport 22 -j ACCEPT
$IPTABLES -t filter -A INPUT -p tcp --dport 80 -j ACCEPT
$IPTABLES -t filter -A INPUT -p tcp --dport 443 -j ACCEPT
$IPTABLES -t filter -A INPUT -p tcp --dport 53 -j ACCEPT
$IPTABLES -t filter -A INPUT -p udp --dport 53 -j ACCEPT
$IPTABLES -t filter -A INPUT -m mark --mark 99 -j DROP
