server {
  listen {{ portal__port|default("80") }} default;
  root {{ portal__docroot }};
  include "{{ portal__redirects }}/*";

  index index.html index.htm index.php;

  # Make site accessible from http://localhost/
  server_name localhost;

  location / {
          # First attempt to serve request as file, then
          # as directory, then fall back to displaying a 404.
          try_files $uri $uri/ /index.php /index.html;
          # Uncomment to enable naxsi on this location
          # include /etc/nginx/naxsi.rules
  }

  location ~ \.php$ {
         fastcgi_split_path_info ^(.+\.php)(/.+)$;
         # NOTE: You should have "cgi.fix_pathinfo = 0;" in php.ini
  
         # With php5-fpm:
         fastcgi_pass {{ php__fpm_url|default('127.0.0.1:9000') }};
         fastcgi_index index.php;
         include fastcgi_params;
  }
}
