location {{ item.urlpath }} {
	{% if item.port is defined %}
		rewrite {{ item.urlpath }}$ {{ item.urlpath }}/;
		rewrite {{ item.urlpath }}/(.*)$ http://$server_addr:{{ item.port }}/$1;
	{% else %}
		alias {{ item.docroot }};
	{% endif %}
    {% if item.extra is defined %}
        {{ item.extra }}
    {% endif %}
}
